<% include ../common/header %>

<ol>
  <% comments.forEach(function(comment){ %>
  <li>
    	<div class="info">
        <a class="info"> <%= comment.created_by %> </a> |
        <a href=<%= '/comments/'+ comment.parent_id + '/comments/' %> class="info"> <%= comment.timeTillNow %> </a> |
        <a href=<%= '/comments/'+ comment.parent_id + '/comments/' %> class="info"> parent </a> | on:
        <a href=<%= '/posts/' + comment.post_id %> class="info" > <%= comment.title %> </a>

      </div>
      <p class="newsTitle"> <%= comment.text %> </p>
  </li>
  <% }) %>
</ol>

<% include ../common/footer %>
