<% include ../common/header %>

<ol>
  <% posts.forEach(function(post){ %>
  <li><a class="newsTitle" href=<%= post.url!=''?post.url:'#' %> > <%= post.title %> </a> <a class="info"><%= post.url != '' ? '(' + post.url + ')' : '' %></a>
      <br />
    	<div class="info">
        <span> <%= post.points %> points </span>by
        <a class="info"> <%= post.create_by %> </a>
        <a href=<%= '/comments/posts/'+ post.id %> class="info"> <%= post.timeTillNow %> </a> |
        <a href=<%= '/comments/posts/'+ post.id %> class="info"> <%= post.num_of_comments %> comments</a>
      </div>
  </li>
  <% }) %>
</ol>

<% include ../common/footer %>
